
body {
  margin: 0;
  background: rgb(39, 39, 44);
  background: radial-gradient(circle, rgba(39, 39, 44) 0%, rgba(39, 39, 44) 27%, rgb(53, 45, 70)77%, rgb(44, 35, 61) 100%);
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.main h1 {
  font-size: 2rem;
}